<div class="row">
    <h1 class="text-warning" id="titulo">Hard & Soft Skills</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../assets/img/MySQL.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ffc107'"
        [innerStrokeColor]="'#F9DE8C'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
   
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="55"
    [radius]="100"
    [showUnits]="false"
    [imageSrc]="'../assets/img/python.png'"
    [imageHeight]="120"
    [imageWidth]="100"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#F9DE8C'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="45"
    [radius]="100"
    [showUnits]="false"
    [imageSrc]="'../assets/img/Tableau.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#F9DE8C'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [radius]="100"
    [showUnits]="false"
    [imageSrc]="'../assets/img/github.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#F9DE8C'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [showTitle]="true"
    [showUnits]="false"
    [imageSrc]="'../assets/img/trabajoEnEquipo.png'"
    [imageHeight]="120"
    [imageWidth]="120"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#F9DE8C'"
    [animation]="true"
    [animationDuration]="1000"
></circle-progress>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [showUnits]="false"
    [imageSrc]="'../assets/img/eng.png'"
    [imageHeight]="120"
    [imageWidth]="100"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#F9DE8C'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
</div>
</div>
