<div class="row">
    <div class="col-cs-12 col-sm-2 col-ms-2 col-lg-2">
            <img src="../../../assets/img/MiFoto.jpg" class="img-fluid" id="myphoto">
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 class="text-light">Santiago Roman Morales</h1>
        <p class="text-light">Full Stack Developer Jr</p>
        <p class="text-light">Data Analyst Jr</p>
    </div>

    <div class="col-xs-12- col-sm-8 col-ms-8 col-lg-8">
        <span>
            <h1 class="text-light">Acerca de mí</h1>
            <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vitae iste accusantium suscipit maiores quam sunt ea, perferendis error consectetur porro odio iusto dicta magni autem repellendus saepe. Ratione, velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aut earum aperiam provident temporibus blanditiis ipsum laborum harum inventore. Aliquid fugit aliquam fugiat architecto sunt dolor quaerat voluptatem, quisquam quas.</p>
        </span>
    </div>
</div>



