.row{
    padding: 20px;
}
div{
    background-color: #070707;
    text-align: center;
}

/*Estilo de la foto de perfil*/

@media (min-width: 576px){
    #myphoto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        left: 3%;
        top:550px;
    }

}
@media (max-width: 575px){
    #myphoto{
        position: absolute;
        width: 190px;
        border-radius: 100%;
        left: 75px;
        top:750px;
    }
}

