div{
    text-align: center;
}

.row{
    background-color: #070707;
    padding: 20px;
}

#titulo{
    text-align: left;
}

.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}