<div class="row">
    <h1 class="text-warning">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11 text-light">
        <ul>
            <li>
                <h1 class="text-light">Estudio 1</h1> - <h3 class="text-light">(years)</h3>
            </li>
            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit omnis, asperiores inventore praesentium magnam officia sint? Ea velit magnam quas ratione quidem hic adipisci quod, molestias temporibus illo vel! Architecto.</p>
        </ul>

        <ul>
            <li>
                <h1 class="text-light">Estudio 2</h1> - <h3 class="text-light">(years)</h3>
            </li>
            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit omnis, asperiores inventore praesentium magnam officia sint? Ea velit magnam quas ratione quidem hic adipisci quod, molestias temporibus illo vel! Architecto.</p>
        </ul>

        <ul>
            <li>
                <h1 class="text-light">Estudio 3</h1> - <h3 class="text-light">(years)</h3>
            </li>
            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit omnis, asperiores inventore praesentium magnam officia sint? Ea velit magnam quas ratione quidem hic adipisci quod, molestias temporibus illo vel! Architecto.</p>
        </ul>
    </div>
</div>

