<div class="row">
    <div class="col-cs-12 col-sm-2 col-ms-2 col-lg-2">
            <img src="../../../assets/img/MiFoto.jpg" class="img-fluid" id="myphoto">
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre" class="text-light">{{persona.nombre}} {{persona.apellido}}</p>
        <p class="text-light">Full Stack Developer Jr</p>
        <p class="text-light">Data Analyst Jr</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-xs-12- col-sm-8 col-ms-8 col-lg-8" id="hola">
            <h1 class="text-light">Acerca de mí</h1>
            <p class="text-light"> Soy un apasionado de la tecnología, en especial de Data Analyst y Data Science. Estoy muy ansioso y emocionado por seguir aprendiendo mas sobre el campo, mi meta es hacer lo que amo y nunca dejar de aprender. Durante mis estudios he adquirido conocimientos sobre Visualización de datos, Python, Analisis de negocio para ciencia de datos, MySQL, conocimiento sobre excel, etc.</p>
    </div>
</div>



