<div class="row">
    <h1 class="text-warning">Proyectos Realizados</h1>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2 class="text-light">Analisi GOT</h2>
            <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ut magnam aliquam ipsa autem sequi! Quia vel maxime numquam quo vitae. Minus sapiente eum asperiores sequi obcaecati, vel quis possimus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus in quod adipisci, aliquid sit laborum eligendi cum repellat. Odit culpa voluptates, aperiam sapiente blanditiis corporis ab ipsam vel itaque ut!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/img/AnalisisGot.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
